#
# This chart inherits from a common library chart. You can check the default values/options here:
# https://github.com/bjw-s/helm-charts/blob/4d09009bf809b2ce3c06225f61cf229e40d2c08a/charts/library/common/values.yaml
#

image:
  repository: b4bz/homer
  # -- image tag
  # @default -- chart.appVersion
  tag: ""
  pullPolicy: IfNotPresent

env:
  TZ: UTC

service:
  main:
    type: LoadBalancer
    loadBalancerIP: "192.168.0.208"
    ports:
      http:
        port: 8080

ingress:
  main:
    enabled: false

securityContext:
  runAsUser: 1000
  runAsNonRoot: true
  runAsGroup: 1000

persistence:
  config:
    enabled: true
    type: configMap
    name: homer-config
    globalMounts:
      - path: /www/config.yml
        subPath: config.yml
