---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: caddy
  namespace: caddy
spec:
  replicas: 2
  selector:
    matchLabels:
      app: caddy
  template:
    metadata:
      labels:
        app: caddy
    spec:
      containers:
        - name: caddy
          image: ghcr.io/serfriz/caddy-cloudflare-crowdsec:latest
          ports:
            - containerPort: 80
            - containerPort: 443
          env:
            - name: CROWDSEC_API_KEY
              valueFrom:
                secretKeyRef:
                  name: crowdsec-bouncer-secret
                  key: CROWDSEC_API_KEY
          resources:
            requests:
              cpu: 10m
              memory: 64Mi
            limits:
              cpu: 200m
              memory: 256Mi
          volumeMounts:
            - name: config
              mountPath: /etc/caddy
            - name: data
              mountPath: /data
      volumes:
        - name: config
          configMap:
            name: caddy-config
        - name: data
          persistentVolumeClaim:
            claimName: caddy-data-longhorn-pvc
      nodeSelector:
        role: master-ingress
