# MySQL Helm values for Kubernetes
# Documentation: https://github.com/bitnami/charts/blob/main/bitnami/mysql/README.md
# Chart: oci://registry-1.docker.io/bitnamicharts/mysql

architecture: standalone

auth:
  existingSecret: "mysql-secret"

  createDatabase: true
  database: "crowdsec"
  username: "crowdsec"

image:
  registry: docker.io
  repository: bitnamilegacy/mysql
  tag: 9.4.0-debian-12-r1
  pullPolicy: IfNotPresent

primary:
  persistence:
    enabled: true
    storageClass: "longhorn"
    accessModes:
      - ReadWriteOnce
    size: 5Gi

  service:
    type: LoadBalancer
    loadBalancerIP: "192.168.0.207"
    ports:
      mysql: 3306

  resources:
    limits:
      memory: 1Gi
      cpu: 1000m
    requests:
      memory: 512Mi
      cpu: 250m

metrics:
  enabled: true

  image:
    registry: docker.io
    repository: bitnamilegacy/mysqld-exporter
    tag: 0.16.0-debian-12-r7
    pullPolicy: IfNotPresent

  # ServiceMonitor for Prometheus Operator
  # Set to true once Prometheus Operator installed
  serviceMonitor:
    enabled: false
    interval: 30s
    labels:
      release: prometheus

  resources:
    limits:
      memory: 128Mi
      cpu: 100m
    requests:
      memory: 64Mi
      cpu: 50m

networkPolicy:
  enabled: false

rbac:
  create: true

serviceAccount:
  create: true
